modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/video-promo: web"

[[workflows.workflow]]
name = "artifacts/video-promo: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21372 BASE_PATH=/video-promo pnpm --filter video-promo run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_REVENUECAT_TEST_API_KEY = "test_eAEZvfNRIGyqbzbFYhCvOYrhvRL"
VITE_REVENUECAT_IOS_API_KEY = "appl_ZhdCoWtbocoFgCAlmYmHzWmPzWN"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appeb3a76b3f2"
REVENUECAT_PROJECT_ID = "proj7eab67be"
REVENUECAT_TEST_STORE_APP_ID = "appb978c7500a"
